In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('electricity.csv')

C:\Users\navee\AppData\Local\Temp\ipykernel_6160\2595534003.py:1: DtypeWarning: Columns (9,10,11,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('electricity.csv')

In [6]:
df.drop('DateTime',axis = 1,inplace = True)

In [26]:
df.replace('?',np.nan,inplace = True)

In [28]:
df.isnull().sum()

Holiday                   36478
HolidayFlag                   0
DayOfWeek                     0
WeekOfYear                    0
Day                           0
Month                         0
Year                          0
PeriodOfDay                   0
ForecastWindProduction        5
SystemLoadEA                  2
SMPEA                         2
ORKTemperature              295
ORKWindspeed                299
CO2Intensity                  7
ActualWindProduction          5
SystemLoadEP2                 2
SMPEP2                        2
dtype: int64

In [41]:
df['Holiday'].value_counts()

Holiday
Christmas Eve           144
Christmas               144
St Stephen's Day        144
New Year's Eve          144
New Year's Day           96
St Patrick's Day         96
Good Friday              96
Holy Saturday            96
Easter                   96
Easter Monday            96
May Day                  96
June Bank Holiday        96
August Bank Holiday      96
October Bank Holiday     96
Name: count, dtype: int64

In [50]:
ls = df.columns[8:]

In [51]:
from sklearn.impute import SimpleImputer

nullMean = SimpleImputer(missing_values = np.nan,strategy = 'mean')

In [57]:
df[ls] = nullMean.fit_transform(df[ls])

In [59]:
df.isnull().sum()

Holiday                   36478
HolidayFlag                   0
DayOfWeek                     0
WeekOfYear                    0
Day                           0
Month                         0
Year                          0
PeriodOfDay                   0
ForecastWindProduction        0
SystemLoadEA                  0
SMPEA                         0
ORKTemperature                0
ORKWindspeed                  0
CO2Intensity                  0
ActualWindProduction          0
SystemLoadEP2                 0
SMPEP2                        0
dtype: int64

In [8]:
df.describe()

,HolidayFlag,DayOfWeek,WeekOfYear,Day,Month,Year,PeriodOfDay
count,38014.000000,38014.000000,38014.000000,38014.000000,38014.000000,38014.000000,38014.000000
mean,0.040406,2.997317,28.124586,15.739412,6.904246,2012.383859,23.501105
std,0.196912,1.999959,15.587575,8.804247,3.573696,0.624956,13.853108
min,0.000000,0.000000,1.000000,1.000000,1.000000,2011.000000,0.000000
25%,0.000000,1.000000,15.000000,8.000000,4.000000,2012.000000,12.000000
50%,0.000000,3.000000,29.000000,16.000000,7.000000,2012.000000,24.000000
75%,0.000000,5.000000,43.000000,23.000000,10.000000,2013.000000,35.750000
max,1.000000,6.000000,52.000000,31.000000,12.000000,2013.000000,47.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38014 entries, 0 to 38013
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Holiday                 1536 non-null   object
 1   HolidayFlag             38014 non-null  int64
 2   DayOfWeek               38014 non-null  int64
 3   WeekOfYear              38014 non-null  int64
 4   Day                     38014 non-null  int64
 5   Month                   38014 non-null  int64
 6   Year                    38014 non-null  int64
 7   PeriodOfDay             38014 non-null  int64
 8   ForecastWindProduction  38014 non-null  object
 9   SystemLoadEA            38014 non-null  object
 10  SMPEA                   38014 non-null  object
 11  ORKTemperature          38014 non-null  object
 12  ORKWindspeed            38014 non-null  object
 13  CO2Intensity            38014 non-null  object
 14  ActualWindProduction    38014 non-null  object
 15  SystemLoadEP2           38014 non-null  object
 16  SMPEP2                  38014 non-null  object
dtypes: int64(7), object(10)
memory usage: 4.9+ MB

In [11]:
df.isnull().sum()

Holiday                   36478
HolidayFlag                   0
DayOfWeek                     0
WeekOfYear                    0
Day                           0
Month                         0
Year                          0
PeriodOfDay                   0
ForecastWindProduction        0
SystemLoadEA                  0
SMPEA                         0
ORKTemperature                0
ORKWindspeed                  0
CO2Intensity                  0
ActualWindProduction          0
SystemLoadEP2                 0
SMPEP2                        0
dtype: int64

In [60]:
df.to_csv('newcsv.csv')